*{
    font-family: 'Times New Roman', Times, serif;
}

.top{
    margin-top: 25px;
    filter: drop-shadow(1px 1px 10px #494949);
    font-size: 20px;
}

header {
    background-color: #ffffff;
    filter: drop-shadow(1px 1px 10px rgb(73, 73, 73));
    color: rgb(0, 0, 0);
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right; /* Alinea los botones a la derecha */
    margin-top: -30px;
}

nav ul li {
    display: inline-block;
    margin-right: 80px; /* Agrega un espacio entre los botones */
}

nav ul li button {
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 18px;
    border: 3px solid #60606022;
    border-radius: 5px;
}

nav ul li button:hover {
    filter: drop-shadow(5px 5px 20px rgb(0, 0, 0));
    border: 3px solid #000000;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
}